<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/ClientsPortalPageStyles.css" type="text/css">
    <script src="../scripts/ClientsPortalPageScript.js" defer></script>
    <title>Clients Portal Page</title>
</head>
<body>
    <header>
        <div class="left">
            <a href="../pages/indexPage.html" class="nav-link">STRONA GŁÓWNA</a>
            <a href="/offerPage" class="nav-link">OFERTA</a>
            <a href="../pages/AboutUsPage.html" class="nav-link">O NAS</a>
        </div>
        <div class="middle">
            <a href="../pages/indexPage.html" class="nav-link">
                <img src="../images/logo.png" alt="Logo" id="logo">
            </a>
        </div>
        <div class="right">
            <a href="../pages/ContactPage.html" class="nav-link">KONTAKT</a>
            <button class="clients-portal" id="clients-portal">PANEL KLIENTA</button>
        </div>
    </header>
    <div class="clients-portal-container" id="clients-portal-container">
        <p>Witamy w portalu klienta przypisanym do konta: <%= userEmail %></p>
        <br>
        <p>W tym miejscu możesz zobaczyć swoje aktywne subskrypcje:</p>
        <br>
        <p>W tym miejscu możesz zobaczyć swoje zakupione zgody:</p>
        <br>
    </div>
</body>
</html>