<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../styles/GlobalStyles.css" rel="stylesheet" type="text/css">
        <link href="../styles/SignInterviewPageStyles.css" rel="stylesheet" type="text/css">
        <script src="../scripts/SignInterviewPageScript.js" defer></script>
        <title>Interview Page</title>
    </head>
    <body data-number-of-pages="<%= numberOfPages %>">
        <div class="canvas-container">
            <canvas id="signatureCanvas" width="595" height="842"></canvas>
            <br>
            <div class="button-container">
              <button id="clearDrawing">Clear Drawing</button>
              <button id="previousPage">Previous Page</button>
              <button id="nextPage">Next Page</button>
              <button id="submitAllSignatures">Submit Signatures</button>
            </div>
        </div>
    </body>
</html>