.agreement-overview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.5rem;
}

#date {
    align-self: flex-end;
    margin: 20px;
    font-size: 20px;
}

#agreement-overview-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

label {
    margin: 5%;
}

.user-input {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.input-field {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 24px;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-table {
    text-align: center;
    width: 50%;
}

#submit-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.table-data {
    border: 1.5px solid black;
    padding: 20px;
}

.flex-align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-checkbox {
    position: relative;
    margin-left: 10px;
}

#photo-consent-checkbox {
    width: 20px;
    height: 20px;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

#message {
    text-align: center;
}