@font-face {
    font-family: 'Futura';
    src: url(../fonts/futuraFont.ttf) format('truetype');
    font-weight: normal;
  }
  
  body {
    font-family: 'Futura', sans-serif;
    margin: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: black;
    margin: 10px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .nav-link.active {
    font-weight: bold;
  }
  
  #logo {
    width: 100px; /* Adjust as needed */
    height: auto;
    margin: 5px;
  }
  
  .clients-portal {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  } 
  
  .clients-portal:hover {
    text-decoration: underline;
  }

  /* This is the main container for the Clients Portal page */

  .clients-portal-container {
    background-color: blanchedalmond;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .headings {
    font-size: 22px;
    font-weight: bold;
    margin: 20px;
  }

  .agreements-list {
    font-size: 14px;
    padding: 5px;
    margin: 5px;
  }
  
  ol {
    /*list-style-type: none;*/
    margin: 1px;
    padding: 1px;
    font-size: 18px;
    text-align: left; /* Align text to the left within each list item */
    width: fit-content; /* Shrink the list's width to its content */
    margin: 0 auto; /* Center the list itself */
  }

  li {
    padding: 10px;
  }

  /* buttons */
  .button-container {
    display: flex;        /* Turn on flexbox */
    justify-content: space-around; /* Distribute space evenly between the buttons */
  }

  .buy-button {
    flex: 1;              /* All buttons take up equal space */
    margin: 10px;         /* Add some margin around each button */
    text-align: center;   /* Center the text on the button */
    /* Set a minimum size if you want to */
    min-width: 50px;
    min-height: 25px;
  }
