/* This is the main container for the Clients Portal page */
  header {
    padding: 1%;
  }

  .clients-portal-container {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .headings {
    font-size: 22px;
    font-weight: bold;
    margin: 20px;
  }

  .agreements-list {
    font-size: 14px;
    padding: 5px;
    margin: 5px;
  }
  
  ol {
    /*list-style-type: none;*/
    margin: 1px;
    padding: 1px;
    font-size: 18px;
    text-align: left; /* Align text to the left within each list item */
    width: fit-content; /* Shrink the list's width to its content */
    margin: 0 auto; /* Center the list itself */
  }

  li {
    padding: 10px;
  }

  /* buttons */
  .button-container {
    display: flex;        /* Turn on flexbox */
    justify-content: space-around; /* Distribute space evenly between the buttons */
  }

  .buy-button {
    flex: 1;              /* All buttons take up equal space */
    margin: 10px;         /* Add some margin around each button */
    text-align: center;   /* Center the text on the button */
    /* Set a minimum size if you want to */
    min-width: 50px;
    min-height: 25px;
    padding: 1.5%;
  }

  #generator-button-top, #generator-button-bottom {
    background-color: green;
  }

  #logout-button-top, #logout-button-bottom {
    background-color: red;
  }
