.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align content to the top */
  height: 100vh;
  margin-top: 20px; /* Add margin to move it down from the top */
}

.grid {
  display: flex;
  justify-content: space-between;
}

.left-column, .right-column {
  flex-basis: 48%;
}

.placeholder {
  font-style: italic;
}