@font-face {
  font-family: 'Futura';
  src: url(../fonts/futuraFont.ttf) format('truetype');
  font-weight: normal;
  font-display: swap;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Futura', sans-serif;
  margin: 0;
  padding: 0;
}

header { /*This is the header of the page, containing the redirection buttons, logo and the client's portal button*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.left,
.middle,
.right { /*Those are the 3 divs that form the part of the header with the redirection buttons*/
  display: flex;
  align-items: center;
}

.left {
  justify-content: flex-start;
  flex: 40%;
}

.left .nav-link {
  margin-right: 20px; /* Added margin-right for spacing between buttons */
}

.middle {
  justify-content: center;
  flex: 20%;
}

.right {
  justify-content: flex-end;
  flex: 40%;
}

.nav-link,
.nav-link-middle,
.nav-link-right {
  text-decoration: none;
  color: black;
}

.nav-link-right {
  padding-right: 2%;
}

#logo {
  width: 55%;
  height: auto;
}

.clients-portal {
  background-color: black;
  color: white;
  border: none;
  font-size: 1.1rem;
  padding: 3% 2%;
  margin: 0 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

.nav-link:hover,
.clients-portal:hover {
  text-decoration: underline;
}

.nav-link.active {
  font-weight: bold;
}

/* On screens that are 890px or wider */
@media screen and (min-width: 890px) {
  html {
    font-size: 18px;
  }

  #logo {
    width: 70%;
    height: auto;
  }
}

/* On screens that are 650px or smaller */
@media screen and (max-width: 720px) {
  html {
    font-size: 12px;
  }

  .left,
  .middle,
  .right {
    flex: 100%;
  }
  
  #logo {
    width: 30%; /* Reduced the size of the logo on smaller screens */
    height: auto;
  }

  .left {
    flex-direction: row;
    flex: 45%;
    justify-content: flex-start;
  }

  .left .nav-link {
    margin-right: 5px; /* Adjust the margin for smaller screens */
    font-size: 0.8rem; /* Adjust the font size for smaller screens */
  }

  .middle {
    flex: 25%;
  }

  .right {
    flex: 30%;
    font-size: 0.8rem; /* Adjust the font size for smaller screens */
  }
}

/* Large Tablet to Small Desktop View */
@media screen and (max-width: 1200px) {
  .clients-portal {
    font-size: 0.8rem;
    padding: 5% 2%;
  }
}