@font-face {
  font-family: 'Futura';
  src: url(../fonts/futuraFont.ttf) format('truetype');
  font-weight: normal;
  font-display: swap;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Futura', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.left,
.middle,
.right {
  display: flex;
  align-items: center;
}

.left {
  justify-content: flex-start;
  flex: 40%;
}

.left .nav-link {
  margin-right: 20px; /* Added margin-right for spacing between buttons */
}

.middle {
  justify-content: center;
  flex: 20%;
}

.right {
  justify-content: flex-end;
  flex: 40%;
}

.nav-link,
.nav-link-middle,
.nav-link-right {
  text-decoration: none;
  color: black;
}

.nav-link-right {
  padding-right: 2%;
}

#logo {
  width: 100%;
  height: auto;
}

.clients-portal {
  background-color: black;
  color: white;
  border: none;
  font-size: 1.1rem;
  padding: 3% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.nav-link:hover,
.clients-portal:hover {
  text-decoration: underline;
}

.nav-link.active {
  font-weight: bold;
}

/* On screens that are 890px or wider */
@media screen and (min-width: 890px) {
  html {
      font-size: 18px;
  }
}

/* On screens that are 650px or smaller */
@media screen and (max-width: 650px) {
  html {
      font-size: 8px;
  }

  .left,
  .middle,
  .right {
      flex: 100%;
  }
  
  #logo {
      width: 40%; /* Reduced the size of the logo on smaller screens */
      height: auto;
  }

  .left .nav-link {
      margin-right: 10px; /* Adjust the margin for smaller screens */
  }
}

/* Large Tablet to Small Desktop View */
@media screen and (max-width: 1200px) {
  .clients-portal {
      font-size: 0.8rem;
      padding: 5% 1%;
  }
}