.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px;
}

.grid-item {
  background: #ddd; /* Placeholder background */
  padding: 20px;
  text-align: center;
  width: auto;
  height: 50%;
  min-width: 0;
  min-height: 0;
  max-width: 98%;
  max-height: 98%;
}

.grid-photo {
  width: 100%;
  height: auto;
}

.grid-item.large {
  width: auto;
  height: auto;
  grid-column: span 2;
}

.grid-photo-large {
  width: 100%;
  height: auto;
  max-width: auto;
  height: 100%;
}

/* For tablets and larger screens */
@media (min-width: 768px) {
  .grid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  }

  .grid-item.large {
      grid-column: span 2;
  }
}

/* For desktops and larger screens */
@media (min-width: 1024px) {
  .grid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  }

  .grid-item.large {
      grid-column: span 2;
  }
}