.interview-container {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-items: center;
}

/* Container for each question */
.question {
    display: grid;
    grid-template-columns: 1fr auto auto; /* 1 fraction for the question, auto for the radio buttons and textarea */
    align-items: center;
    gap: 20px; /* Space between grid items */
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc; /* Add a bottom border to each question */
}

/* Styling for the question label */
.question-label {
    font-size: 30px;
    font-weight: bold;
    text-align: justify; /* Justify the question text */
}

/* Container for the radio buttons */
.radio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:  10px;
}

/* Styling for the textarea */
textarea {
    width: 100%;
    max-width: 300px;
    height: 100px;
}