.interview-page {
    font-size: 1.5em;
}

/* Container for each question */
.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc; /* Add a bottom border to each question */
}

.question > *:not(:last-child) {
    border-right: 1px solid #ccc; /* Add a right border to all grid items except the last one */
}

/* Styling for the question label */
.question-label {
    font-size: 20px;
    font-weight: bold;
}

/* Styling for the textarea */
textarea {
    width: 100%;
    max-width: 200px;
    height: 100px;
}