@font-face {
  font-family: 'Futura';
  src: url(./fonts/futuraFont.ttf) format('truetype');
  font-weight: normal;
}

body {
  font-family: 'Futura', sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin: 10px;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.active {
  font-weight: bold;
}

#logo {
  width: 100px; /* Adjust as needed */
  height: auto;
  margin: 5px;
}

.clients-portal {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.clients-portal:hover {
  text-decoration: underline;
}

/*This is where the body of the page begins*/

  .login-form {
    text-align: center;
    margin-top: 30px;
  }
  
  .login-form h2 {
    margin-bottom: 10px;
  }
  
  .login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="email"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="password"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .submit-button {
    padding: 10px 20px;
    background-color: #14054B;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0E0439;
  }  