@font-face {
  font-family: 'Futura';
  src: url(./fonts/futuraFont.ttf) format('truetype');
  font-weight: normal;
}

body {
  font-family: 'Futura', sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin: 10px;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.active {
  font-weight: bold;
}

#logo {
  width: 100px; /* Adjust as needed */
  height: auto;
  margin: 5px;
}

.client-panel {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.client-panel:hover {
  text-decoration: underline;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px;
}

.grid-item {
  background: #ddd; /* Placeholder background */
  padding: 20px;
  text-align: center;
  height: 50%;
}

.grid-photo {
  width: 100%;
  height: 100%;
}

.grid-item.large {
  grid-column: span 2;
}

/* For tablets and larger screens */
@media (min-width: 768px) {
  .grid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  }

  .grid-item.large {
      grid-column: span 2;
  }
}

/* For desktops and larger screens */
@media (min-width: 1024px) {
  .grid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  }

  .grid-item.large {
      grid-column: span 2;
  }
}