body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  height: 50px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #14054B;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid black;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .current {
  font-weight: bold;
}

.nav-button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: white;
  color: black;
  transition: background-color 0.3s ease;
  width: 165px; /* Adjust this value as needed */
  text-align: center;
  text-decoration: none;
}

.nav-button:hover {
  background-color: #ddd;
  font-weight: bold;
}

.shopping-bag {
  width: 50px;
  height: 50px;
}

.ads {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.arrow {
  padding: 10px 20px;
  border: none;
  background-color: white;
  color: black;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.arrow:hover {
  background-color: #ddd;
}

.ad-image {
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #f0f0f0;
  margin: 0 10px;
}