canvas {
    border: 1px solid black;
    cursor: crosshair;
}

.canvas-container {
    display: flex;
    flex-direction: column;  /* Stack children vertically */
    align-items: center;     /* Center children horizontally */
    justify-content: center; /* Optional: If you want to center vertically as well */
    /*height: 100vh;    */       /* Optional: Take full viewport height. Adjust or remove as needed. */
}